// text
$text-color-black: rgb(0, 0, 0);
$text-color-white: rgb(255, 255, 255);
$text-color-Light-gray: #d9d9d9;
$text-color-Lighter-gray: #f2f2f2;

//bachground
$bg-light-blue: rgba(201, 218, 248, 0.3);
$bg-dark-blue: rgb(1, 5, 86);
$bg-color-black: rgb(0, 0, 0);
$bg-color-black-light: rgb(10, 10, 10);
$bg-color-black-lighter: rgb(20, 20, 20);

//custom color
$custom-cyan: rgb(6, 223, 195);
$custom-blue: rgb(41, 191, 245);
