.dashboard_container {
  height: 100vh;
  width: 100%;
  @include flex(row, flex-start, flex-start);

  > .admin_sidebar {
    height: 100%;
    width: 15%;
  }

  > .dashboard_main {
    height: 100vh;
    width: 85%;
    padding: 1vmax;
    background-color: $bg-light-blue;
    @include flex(column, flex-start, flex-start);
    gap: 1vmax;

    > .dashboard_infoBox {
      width: 100%;
      @include flex(row, space-evenly, center);
    }
  }
}
