.cart_container {
  min-height: 100vh;
  width: 100%;
  background-color: $bg-color-black;
  color: $text-color-white;

  > h1 {
    font-size: 3vmax;
    text-align: center;
  }

  > .cart_wrapper {
    margin-top: 3vmax;
    height: 100%;
    width: 100%;
    padding: 1vmax 4vmax;
    gap: 2vmax;
    @include flex(row, flex-start, flex-start);

    > .cart_orders {
      @include flex(column, flex-start, flex-start);
      gap: 1vmax;
      width: 60%;

      > .cart_orders_addmore {
        width: 100%;
        @include flex(row, flex-start, center);
        padding: 1vmax;
        font-size: 0.8vmax;
        gap: 0.1vmax;
        border: 1px solid $text-color-Light-gray;
        background-color: transparent;
        color: $text-color-white;

        > svg {
          font-size: 1vmax;
        }
      }
    }
    > .cart_calculations {
      padding: 1vmax;
      width: 40%;
      height: 100%;
      background-color: $bg-color-black-lighter;
      @include flex(column, flex-start, flex-start);
      gap: 1vmax;

      > h5 {
        font-size: 1vmax;
        background: linear-gradient(
          to right,
          rgb(6, 223, 195),
          rgb(41, 191, 245)
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }

      > div {
        width: 100%;
        @include flex(row, space-between, flex-start);
        font-size: 0.9vmax;

        > p:nth-child(1) {
        }

        > p:nth-child(2) {
          font-weight: 600;
        }
      }

      > button {
        margin: 1vmax 0;
        width: 100%;
        font-size: 1vmax;
        padding: 1vmax;
        text-transform: uppercase;
        background: linear-gradient(
          to right,
          rgb(6, 223, 195),
          rgb(41, 191, 245)
        );
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .cart_container {
    > .cart_wrapper {
      @include flex(column, flex-start, flex-start);
      flex-direction: column-reverse;
      gap: 2vmax;

      > .cart_orders {
        width: 100%;
      }

      > .cart_calculations {
        width: 100%;
      }
    }
  }
}
